chartered = CharteredGuild("Chartered Furstadt Guild")

class BoardGuild(Member):
  total = 0
  def __init__(self, guild):
    Member._init_ = guild
    BoardGuilds.total = BoardGuilds.total + 1
    

def Rule_Change(Pull_Request):
  AssemblyDecision = false
  BoardGuildDecision = false
  Assembly = chartered.member()
  if (Assembly.votes() > Assembly.total() * 0.1) && (Assembly.votes("agree") > Assembly.votes("disagree")):
    AssemblyDecision = true
  if (BoardGuild.votes("agree") > BoardGuild.votes("disagree")):
    BoardGuildDecision = true
  if (AssemblyDecision && BoardGuildDecision):
    chartered.rulechange(Pull_Request)
